{{- range .Values.apps }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "ex02.fullname" $ }}-{{ .name }}
  labels:
    {{- include "ex02.labels" $ | nindent 4 }}
    app: {{ .name }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "ex02.selectorLabels" $ | nindent 4 }}
    app: {{ .name }}
{{- end }}
